@font-face {
    font-family:'Bloxat';
    src: url(../fonts/BLOXAT.ttf);
}

body::after {
    content:"";
    z-index:-1;
    background-image:url('../img/start-screen-background.png');
    background-size:cover;
    background-repeat: no-repeat;
    top:0;
    bottom:0;
    right:0;
    left:0;
    position:fixed;
}

#start-screen .logo {
    width:80vw;
    transform:translate(-50%,-50%);
    top:30vh;
    left:50%;
    position:absolute;
}

.start-buttons {
    position:absolute;
    transform:translate(-50%,-50%);
    left:50%;
    top:75%;
    width:240px;
}

button {
    box-sizing:border-box;
    font-size:30px;
    font-family: Bloxat,sans-serif;
    text-transform: uppercase;
    padding:14px 0px;
    margin:2vh;
    height:50px;
    width:200px;
    background-color:white;
    border:0;
}

button:hover {
    background-color:black;
    border:3px solid white;
    color:white;
    padding:11px;
}

.modal-button {
    padding:0;
}

.modal-button:hover {
    padding:0;
}

.modal .error {
    color:red;
}

#screen{
    display:none;
}

#modal-container{
    position: fixed;
    z-index: 1;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    background-color: beige;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateY(-50%) translateX(-50%);
    border: 2px solid black;
    font-family: Bloxat,sans-serif;
    font-size: 20px;
    line-height: 1.6;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:10px;
}

.modal input[type='number'] {
    font-family:Bloxat;
    font-size:24px;
    width:70px;
}


#world{
    height: 600px;
    width: 600px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    position: absolute;
    top: 50%;
    left: calc( 50% - 250px );
    transform: translateY(-50%) translateX(-50%);
}

#side-menu {
    background-color:black;
    position:fixed;
    margin:0;
    top:0;
    bottom:0;
    right:0;
    width:150px;
    height:100%;
}

.tool {
    width:60px;
    height:60px;
    margin:auto;
    margin-top: 20px;
    background-color:gray;
    position:relative;
    cursor: pointer;
}

.tool img {
    max-height:40px;
    position:absolute;
}

.tool span {
    display:inline-block;
    bottom:0;
    position:absolute;
    font-size:12px;
    font-family:Bloxat;
    text-transform: uppercase;
    margin:auto;
}

.selected-tile {
    box-sizing: border-box;
    width:30px;
    height:30px;
    margin:auto;
    margin-top:40px;
    background-color:white;
    cursor: pointer;
}

#inventory {
    display:grid;
    grid-template-columns:repeat(2,1fr);
}

#inventory span {
    font-family:Bloxat;
    font-size:24px;
}

.tile{
    box-sizing:border-box;
    height: 30px;
    width: 30px;
    background-color: rgb(136, 228, 231);
}

#world .tile:hover {
    border:1px solid white;
}

#world .tile:hover .painted-tile {
    height:28px;
    width:28px;
}

.painted-tile {
    box-sizing:border-box;
    height:30px;
    width:30px;
}

.cloud{
    background-color: white;
}
.tree{
    background-image: url(../img/tree.jpg);
    background-size: cover;
}
.ground{
    background-image: url(../img/ground.jpg);
    background-size: cover;
}
.grass{
    background-image: url(../img/grass.jpg);
    background-size: cover;
}
.rock{
    background-image: url(../img/rock.jpg);
    background-size: cover;
}
.trunk{
    background-image: url(../img/trunk.jpg);
    background-size: cover;
}
.sun{
    background-image: url(../img/sun.jpg);
    background-size: cover;
}
.water{
    background-image: url(../img/water.jpg);
    background-size: cover;
}
.man{
    background-color: rgb(136, 228, 231);
    background-image: url(../img/man.png);
    background-size: cover;
}

.tool.alert{
    background-color: red;
}

.tool.is-clicked{
    background-color: blue;
}

.in-use{
    border:2px solid blue;
}

@media only screen and (max-width: 1200px){
    #tutorial-modal-content{
        width: 70%;
        height: 50%;
    }
    #world{
        top: 50%;
        left: 40%;
        transform: translateY(-50%) translateX(-50%);
    }
}
@media only screen and (max-width: 780px){
    .start-buttons {
        width:140px;
    }
    #start-screen button {
        font-size:20px;
        padding:5px 0px;
        height:30px;
        width:120px;
    }
    #tutorial-modal-content{
        font-size: 12px;
    }
    #side-menu {
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
    }
    #tools{
        display:flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .tool {
        width: 50px;
        height: 50px;
        margin: 0;
    }
    .tool img {
        max-height: 40px;
    }
    .tool span {
        font-size: 10px;
    }
    #inventory {
        display: flex;
        justify-content: space-evenly;
        height: 20px;
    }
    .selected-tile {
        width: 20px;
        height: 20px;
        margin: 0;
        justify-self: center;
    }
    #inventory span {
        font-size: 12px;
    }
    #world{
        height: 300px;
        width: 300px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .tile{
        box-sizing:border-box;
        height: 15px;
        width: 15px;
    }

    .tile .painted-tile {
        height:15px;
        width:15px;
    }
    #world .tile:hover .painted-tile {
        height:13px;
        width:13px;
    }
}